<div class="jumbotron jumbotron-fluid animated fadeInUp">
    <div class="pattern-dots"></div>
    <div class="container">
        <h1 class="display-3 text-light">E - COMMERCE</h1>
        <p class="lead text-light"></p>
    </div>
</div>
<section class="section-wrapper animated fadeInUp">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="header">E - COMMERCE SOLUTIONS</h2>
                <p>E Commerce is the exchange of goods and services through internet. We also understand that a successful ecommerce site needs a combination of strategy aesthetics and smooth functioning which can attract visitors into buyers.</p>
                <p>The expert at VRAIO work for you by compiling all of the tools you need to sell online into one search engine friendly shopping cart software solution. We offer you a wide range of software solutions which can help you achieving desired
                    results.
                </p>
                <p><strong>Our main E Commerce solutions include services like</strong></p>
                <ul>
                    <li>Shopping cart Solutions</li>
                    <li>Payment Gateway Solutions</li>
                    <li>Social Network Solutions</li>
                    <li>Custom Software Development</li>
                    <li>Web Application Development</li>
                    <li>Dynamic Web Design and Database Solutions</li>
                    <li>Content Management System</li>
                </ul>
                <br/>
                <p>E Commerce sites designed by us help you in attracting new customers, reaching new markets which is otherwise not possible through any other medium, greater revenue generation by more traffic, excellent and easy operational features, unmatched
                    cost savings by reaching new buyers at a very low cost, it helps in enhancing customer relations you can reach your customers anywhere anytime which also results in repeat sales, our payment gateway solutions make you carry all the
                    financial transactions in a secured way. We help you creating more sales no matter what the size of your business is, in a very short span of time.</p>
            </div>
        </div>
    </div>
</section>