<section class="section-wrapper animated fadeInUp">
    <div class="container">
        <div class="row header">
            <div class="col">
                <h2 class="text-uppercase text-center">Why US</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>We offer the best development, support and service provider since from 2012 which has skills and expertise on modern technologies and tools to facilitate complex business solutions. Our business model focuses on having long-Â­term strategic
                    relations with our clients by providing a combination of high quality, cost effective and on time delivery of solutions.</p>
                <p>In each client project, we work beyond the norms of a conventional client relationship by investing more time to understand customer current and future business needs. Our overall process includes concept, design, development, incorporation,
                    and implementation. We believe in principle that "Vraio Software Solutions Pvt Ltd" can only grow if we deliver IT solutions to customers that will help them to grow their business.</p>
                <h4>We offer services of entire Web based projects from the scratch</h4>
                <ul>
                    <li *ngFor="let service of services">{{service.name}}</li>
                </ul>
            </div>
        </div>
    </div>
</section>