<div class="jumbotron jumbotron-fluid animated fadeInUp">
    <div class="pattern-dots"></div>
    <div class="container">
        <h1 class="display-3 text-light">Custom Web Appications</h1>
        <p class="lead text-light"></p>
    </div>
</div>
<section class="section-wrapper animated fadeInUp">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="header">
                    CUSTOM WEB APPLICATIONS
                </h2>
                <p>
                    <strong>VRAIO </strong>has been creating custom web applications since 2012. We remain focused on developing the best web solution to respond to each client's individual business needs. We will create an innovative web solution to
                    improve customer relationships and work with you on your e-business initiatives.
                </p>
                <p>To gain a competitive advantage, you must continually integrate the latest E-Business technology into your present strategies. Through our advanced consultative approach, Advance Design Interactive assists you in clearly defining your
                    organizational goals and determining where your current systems meet these goals, where they fail, and how they can be improved through browser-based solution.</p>
                <br/>
                <p><strong>We assist you in taking advantage of the flexibility and resilience of the web to:</strong></p>
                <ul>
                    <li>Streamline business processes</li>
                    <li>Integrate systems</li>
                    <li>Distribute data</li>
                    <li>Access your information worldwide</li>
                    <li>Showcase your products/services</li>
                    <li>Generates leads</li>
                    <li>Shorten the sales cycle</li>
                    <li>Enable transactions</li>
                    <li>Meet consumer demands</li>
                    <li>Reduce support cost</li>
                    <li>Offer online customer self-service</li>
                    <li>Improve customer satisfaction</li>
                </ul>
                <br/>
                <p>We specialize in developing database driven websites with the functionality to meet your needs. From e-commerce retail sites to corporate intranets, we understand the value of good functionality. We develop web sites and applications to
                    work in any environment and across all platforms and browsers.</p>
                <p>Our development capabilities include programming in Java, JavaScript, HTML5, CSS3, Bootstrap, Angular 2.0, Ruby on Rails, PHP, MongoDB, Sqlite.</p>
            </div>
        </div>
    </div>
</section>