<div class="jumbotron jumbotron-fluid animated fadeInUp">
    <div class="pattern-dots"></div>
    <div class="container">
        <h1 class="display-3 text-light">Virtual Server</h1>
        <p class="lead text-light"></p>
    </div>
</div>
<section class="section-wrapper server-wrapper animated fadeInUp">
    <div class="container">
        <div class="row header">
            <div class="col">
                <h2 class="text-uppercase text-center">Virtual Private Server?</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>Abbreviated as VDS, a virtual dedicated server is a type of virtualization that enables a virtual server, which is a shared resource and not a dedicated server, to to work and act as if it were a dedicated server. Each VDS has its own
                    disk space, bandwidth, CPU allocation, memory and operating system. Also called a virtual private server (VPR).</p>
                <p>Server virtualization is the partitioning of a physical server into smaller virtual servers to help maximize your server resources. In server virtualization the resources of the server itself are hidden, or masked, from users, and software
                    is used to divide the physical server into multiple virtual environments, called virtual or private servers. This is in contrast to dedicating one server to a single application or task.</p>
            </div>
        </div>
    </div>
</section>
<section class="section-wrapper server-wrapper animated fadeInUp">
    <div class="container">
        <div class="row header">
            <div class="col">
                <h2 class="text-uppercase text-center">Features</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <ul class="server-list">
                    <li>1000 hours managed services free when you buy 2 years get 3 years offer</li>
                    <li>Free Migration from other services provider to us</li>
                    <li>3 Months free managed services for all new orders</li>
                    <li>Buy server from any service provider, we will give 1 month free managed services 2nd month onwords $49 per month</li>
                    <li>Get 1 week free trial all VPS and Dedicated Server</li>
                    <li>Instant Root Access, To get customize server please contact our sales department</li>
                    <li>100 days Money Back guarantee</li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <ul class="server-list">
                    <li>Choice of OS CentOS, Ubuntu, Debian or Windows 2008</li>
                    <li>1 Public IP Address, Gigabit Network</li>
                    <li>Anti-DDoS protected servers</li>
                    <li>High Performance Storage, Redundant Storage</li>
                    <li>Reinstall / reboot / on demand vm creation etc</li>
                    <li>VMware® ESXi 64-bit, customizable kernel Virtualization</li>
                    <li>free training how to use vps and server</li>
                    <li>Managed services for $1 per day</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="section-wrapper server-wrapper animated fadeInUp">
    <div class="container">
        <div class="row header">
            <div class="col">
                <h2 class="text-uppercase text-center">How VPS hosting works ?</h2>
            </div>
        </div>
        <div class="row">
            <div class="col mx-auto">
                <p>In VPS hosting, every website is hosted on a virtual private server on a more powerful hardware. A physical machine is divided into several virtual compartments, and server software is setup on them separately, making each unit capable
                    of functioning independently.</p>
                <img src="/assets/images/server/shared-vs-vps-hosting-1.jpg" alt="" class="img-fluid mx-auto d-block">
                <p>Though other websites may be hosted on the same physical system, yours would be the only website(s) hosted in the virtual compartment allocated – with independent server resources (CPU, RAM, disk space, etc) to you. Other websites on the
                    machine won’t affect the performance of yours. That means you get exactly the same system resources you pay for.</p>
                <p>It’s like each website resides in an isolated room with sufficient resources to live with. You get complete root access to your server as if it were your dedicated server. But technically you are still on the same physical machine and
                    sharing its CPU, RAM, disk storage, and bandwidth. VPS hosting gives you complete control over your server and almost the same benefits of the pricey dedicated server. This way, you can get a virtual dedicated server for a much cheaper
                    price and get higher performance for your website than a shared server.</p>
            </div>
        </div>
    </div>
</section>