<div id="{{settings.id}}" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li *ngFor="let item of settings.items; index as i; first as f" [attr.data-slide-to]="i" [class.active]="f" [attr.data-target]="'#' + settings.id"></li>
    </ol>
    <div class="carousel-inner">
        <div *ngFor="let item of settings.items; index as i; first as f" class="carousel-item" [class.active]="f">
            <img class="d-block w-100" src="{{item.image}}" alt="First slide">
            <div class="carousel-caption d-none d-md-block">
                <h3 [class.animated]="settings.animation" [class.fadeInRightBig]="settings.animation">{{item.caption?.title}}</h3>
                <p [class.animated]="settings.animation" [class.fadeInLeftBig]="settings.animation">{{item.caption?.desc}}</p>
            </div>
            <div class="pattern-dots"></div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#{{settings.id}}" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#{{settings.id}}" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>