<div class="row">
    <div class="col">
        <div class="progress-wrapper">
            <div class="progress-item" *ngFor="let progress of progresses; index as i;">
                <div class="text-wrap">
                    <p>{{progress.description}}</p>
                    <p>{{progress.name}}</p>
                </div>
                <p class="number-wrap">{{i + 1}}</p>
                <div class="icon-wrap">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="{{progress.icon}} fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>