<div class="jumbotron jumbotron-fluid animated fadeInUp">
    <div class="container">
        <h1 class="display-3 text-light">Cloud Server</h1>
        <p class="lead text-light"></p>
        <!-- <div class="pattern-dots">
        </div> -->
    </div>
</div>
<section class="section-wrapper server-wrapper animated fadeInUp">
    <div class="container">
        <div class="row header">
            <div class="col">
                <h2 class="text-uppercase text-center">Cloud Server?</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>A cloud server is primarily an Infrastructure as a Service (IaaS) based cloud service model. There are two types of cloud server: logical and physical. A cloud server is considered to be logical when it is delivered through server virtualization.
                    In this delivery model, the physical server is logically distributed into two or more logical servers, each of which has a separate OS, user interface and apps, although they share physical components from the underlying physical server.</p>
                <p>Whereas the physical cloud server is also accessed through the Internet remotely, it isn’t shared or distributed. This is commonly known as a dedicated cloud server.</p>
            </div>
        </div>
    </div>
</section>
<section class="section-wrapper server-wrapper">
    <div class="container">
        <div class="row header">
            <div class="col">
                <h2 class="text-uppercase text-center">Server Reselling concept in Cloud Servers</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>Technology Leader has launched “Server Reseller” for Cloud Servers. You can earn up to 75% in selling cost. In Server Reselling a person or a company can make profit by reselling servers to their customers a Server Reseller can sell the
                    servers depending on their time in other words, there is no stipulated time frame for a Server Reseller to sell or there are no red tapes. A Server Reseller will be provided with unique identification number which will have an active
                    account with Technology Leader for calculation of payouts. In server Reselling concept, you start to get payouts after you have crossed a few sales, once the sales are crossed Server Reseller can retain their payouts and pay the remaining
                    amount to Technology Leader.</p>
                <p>No investment, no advertisements, no long term agreement, no marketing, no fuss, you don’t have to provide any sort of support, be it billing or technical. Reselling of servers is simple, you contact Technology Leader purchase the servers
                    at discounted price and later sell it to your customers at markup price. You do not have to provide any kind of support to your customers’ we will help them out with their issues.</p>
            </div>
        </div>
    </div>
</section>