<div class="jumbotron jumbotron-fluid animated fadeInUp">
    <div class="pattern-dots"></div>
    <div class="container">
        <h1 class="display-3 text-light">Web Develpment &amp; Hosting</h1>
        <p class="lead text-light"></p>
    </div>
</div>
<section class="section-wrapper animated fadeInUp">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="header">WEB DESIGN, DEVELOPMENT, HOSTING & MAINTENANCE</h2>
                <h4 class="text-uppercase">WEB DESIGN & DEVELOPMENT</h4>
                <div class="media">
                    <img src="/assets/images/services/Web-Development.gif" alt="" class="align-self-center mr-3" />
                    <div class="media-body">
                        <p>We understand that your website serves as the core of your online efforts. We work closely with you to create a website that addresses your online business goals AND sets you apart from your competition. Our experienced and enthusiastic
                            team is ready to provide you with full-service web design and development to help your online presence reach new heights. We love what we do – and it shows. We care about each and every one of our clients and your success is
                            of the atmost importance to us.</p>
                        <p>Our team of competent designers not only focus on layout and appeal but are well aware of website development, hosting and optimization related issues, so they work in tandem with our SEO team and webmasters. We design websites
                            that carry all the pomp and show you desire, and yet do not compromise on usability features and search engine guidelines compliance. We ensure that our designs merge well with your color schemes and the website loads quickly.
                            Depending on your requirement, we can design blogs, forums, ecommerce websites and common static websites.</p>
                    </div>
                </div>
                <h4 class="text-uppercase">WEB DESIGN & DEVELOPMENT</h4>
                <p>We maintain websites for many clients and have a good understanding of the most popular hosting services and serve clients across the world for dedicated hosting, reseller hosting, cloud hosting, shared hosting and more. We can recommend
                    a host based on your requirements, location and budget. Our span of hosting services also cover issues related to host migration, so that you migrate your hosting with minimal or no interruption in service.</p>
                <h4 class="text-uppercase">WEBSITE MAINTENANCE</h4>
                <p>Simplifying tedious tasks such as fixing bugs, monitoring performance, software upgrades, creating backups, administering email service and enhancing site’s speed, to name a few. We also setup third party integration for services such
                    as Affiliate tracking, Webmaster tools and Google Analytics. You can rely on us for all kinds of tweaking & upgrades that every website requires from time-to-time.</p>
            </div>
        </div>
    </div>
</section>